name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: install node
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
      - name: install dependencies
        run: make install

      - name: run linter
        run: make lint
      - name: run tests
        run: make test-coverage
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}